doctype html
head
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='/scripts/jquery.1.11.1.min.js')
  script(type='text/javascript', src='/scripts/header.js')
  script(type='text/javascript', src='/scripts/jquery.smint.js')



body
  header
    div(id="header-container")

      div(class="header-links")
        a(class="main-link go-back")
          | < Back to start

  div(id="mainpage-container")
    div(id="mainpage-main-container" class="main")
      p.
        To find a psychotherapist

      label Personal Details
      div
        input(type="text" placeholder="firstname")
      div
        input(type="text" placeholder="lastname")
      label sadasd
      div
        select
          option attribute 1
          option attribute 2
          option attribute 3
          option attribute 4
          option attribute 5
          option attribute 6
      label sadasd
      div
        select
          option attribute 1
          option attribute 2
          option attribute 3
          option attribute 4
          option attribute 5
          option attribute 6
      label sadasd
      div
        select
          option attribute 1
          option attribute 2
          option attribute 3
          option attribute 4
          option attribute 5
          option attribute 6
