body
  h1 Please fill the questionnaire

  div
  form(action='/insert_doctor', method='post')
    div
      label(for='name') Name
        input(id='name', type='text', name='name')
    div
      label(for='pwd') Password
        input(type='password', name='pwd')
    div
      label(for='birthdate') Birthdate as YYYYMMDD if date-picker is broken
      br
      input(type='date', name='birthdate')
    div
      label(for='male') Male
        input(type='radio', value='male', name='sex')
      label(for='female') Female
        input(type='radio', value='female', name='sex')
    div
      label(for='patientAge') Ideal age group?
        select(name="patientAge")
          option 00-10
          option 20-30
          option 40-50
          option 60-70
          option Older

    div
      p() Your specialties 
        label(for="doctorSpecialties") OCD
          input(type="checkbox", name="ocd") 
        label(for="depression") Depression
          input(type="checkbox", name="depression") 
        label(for="ocd2") OCD2
          input(type="checkbox", name="ocd2") 
        label(for="ocd3") OCD3
          input(type="checkbox", name="ocd3") 
          
          
    input(type='submit', value='Submit')
        