doctype html
head
  link(rel='stylesheet', href='/stylesheets/style.css')

body
  header
    div(id="header-container")
      h1= 'Welcome to PsyLink'
      p
        | Get better! Be yourself again!
  div(id="mainpage-container")
    input(type="text", placeholder="find a psychotherapist")
    div
      p
        | asds
      p
        | here is question 1
      select
        option 1
        option 2
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 22
      br
      select
        option 1
        option 2
