doctype html
head
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(type='text/javascript', src='/scripts/header.js')
  script(type='text/javascript', src='/scripts/jquery.smint.js')



body
  header
    div(id="header-container")
    //  h1= 'PsyLink'

    div(class="header-menu header-links")
      a(href="#main" class="main-link")
        | Main
      a(href="#doctors" class="doctor-link")
        | Doctors
      a(href="#help" class="help-link")
        | Help

  div(id="mainpage-container")
    div(id="mainpage-main-container" class="main")
      p(class="mainpage-text").
        Introduction

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

        Fusce id semper massa, vel pulvinar nibh. Aliquam tristique eleifend ante hendrerit interdum. Donec auctor luctus pretium. Morbi velit arcu, mollis at dui vel, tincidunt elementum elit. Nunc malesuada gravida vulputate. Aliquam erat volutpat. Vivamus in pellentesque mauris. Sed rhoncus arcu sit amet posuere facilisis. Sed sit amet odio sed arcu semper porttitor nec at leo. Suspendisse risus tortor, convallis maximus justo sit amet, elementum bibendum urna. Praesent non placerat eros. Etiam eleifend est nec lorem blandit vehicula. Nunc porttitor suscipit accumsan. Fusce consequat tellus vel quam vehicula varius. Fusce blandit est a erat aliquam, id mollis nunc pulvinar. Nullam at quam tortor.

        Quisque lectus turpis, mollis et diam sit amet, commodo porttitor elit. Integer lacinia nunc a sem tincidunt, a consectetur ex lobortis. Nulla eget turpis sed urna posuere rutrum vitae vitae est. In mollis odio vitae sapien consequat, in tristique tortor pharetra. Proin volutpat sapien at molestie laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent eleifend diam quis velit tincidunt pretium. Donec interdum lectus felis, at volutpat massa condimentum sit amet. Suspendisse fermentum sapien et felis blandit, vel aliquet risus faucibus.

        Mauris et sem commodo, iaculis lacus sed, rutrum lorem. Praesent hendrerit sit amet ligula in bibendum. Cras sed posuere augue. Quisque nec est id tortor fermentum lobortis. Nam euismod tincidunt nibh et viverra. In nec odio sed nunc ornare viverra id ut nulla. Aenean auctor mi a metus lacinia, aliquam dignissim tortor facilisis. Quisque a mollis mi, et ornare libero. Aenean ac nibh leo. Ut tempus odio eget libero sollicitudin semper. Morbi imperdiet ante risus, vitae venenatis sem varius at. Integer tortor nunc, accumsan nec erat ut, ultricies malesuada augue. Sed ut finibus ex.

        Nam pulvinar elit in ligula semper, eget fermentum ligula sodales. Suspendisse ullamcorper, nibh a fermentum ornare, ipsum dolor semper purus, eget interdum tortor nisl vel quam. Mauris quis consequat nunc. Ut vel ornare urna, non varius dolor. Ut molestie laoreet enim malesuada ultrices. Nunc pulvinar pellentesque congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc aliquam, orci sit amet eleifend tristique, nisl turpis finibus quam, eu iaculis magna lectus et purus. Suspendisse potenti. Aliquam mollis, ex nec sagittis tincidunt, ligula nulla blandit augue, ut mollis est augue et justo. Mauris diam lorem, tempus in tincidunt non, dictum non nulla. Morbi interdum blandit mollis. Integer id sodales neque. Vivamus luctus urna ut eros sodales, dignissim molestie dolor ornare. Sed nec consectetur diam.

    div(id="mainpage-doctor-container" class="doctors")
      p(class="doctor-text").
        Doctors here!

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

        Fusce id semper massa, vel pulvinar nibh. Aliquam tristique eleifend ante hendrerit interdum. Donec auctor luctus pretium. Morbi velit arcu, mollis at dui vel, tincidunt elementum elit. Nunc malesuada gravida vulputate. Aliquam erat volutpat. Vivamus in pellentesque mauris. Sed rhoncus arcu sit amet posuere facilisis. Sed sit amet odio sed arcu semper porttitor nec at leo. Suspendisse risus tortor, convallis maximus justo sit amet, elementum bibendum urna. Praesent non placerat eros. Etiam eleifend est nec lorem blandit vehicula. Nunc porttitor suscipit accumsan. Fusce consequat tellus vel quam vehicula varius. Fusce blandit est a erat aliquam, id mollis nunc pulvinar. Nullam at quam tortor.

        Quisque lectus turpis, mollis et diam sit amet, commodo porttitor elit. Integer lacinia nunc a sem tincidunt, a consectetur ex lobortis. Nulla eget turpis sed urna posuere rutrum vitae vitae est. In mollis odio vitae sapien consequat, in tristique tortor pharetra. Proin volutpat sapien at molestie laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent eleifend diam quis velit tincidunt pretium. Donec interdum lectus felis, at volutpat massa condimentum sit amet. Suspendisse fermentum sapien et felis blandit, vel aliquet risus faucibus.

        Mauris et sem commodo, iaculis lacus sed, rutrum lorem. Praesent hendrerit sit amet ligula in bibendum. Cras sed posuere augue. Quisque nec est id tortor fermentum lobortis. Nam euismod tincidunt nibh et viverra. In nec odio sed nunc ornare viverra id ut nulla. Aenean auctor mi a metus lacinia, aliquam dignissim tortor facilisis. Quisque a mollis mi, et ornare libero. Aenean ac nibh leo. Ut tempus odio eget libero sollicitudin semper. Morbi imperdiet ante risus, vitae venenatis sem varius at. Integer tortor nunc, accumsan nec erat ut, ultricies malesuada augue. Sed ut finibus ex.

        Nam pulvinar elit in ligula semper, eget fermentum ligula sodales. Suspendisse ullamcorper, nibh a fermentum ornare, ipsum dolor semper purus, eget interdum tortor nisl vel quam. Mauris quis consequat nunc. Ut vel ornare urna, non varius dolor. Ut molestie laoreet enim malesuada ultrices. Nunc pulvinar pellentesque congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc aliquam, orci sit amet eleifend tristique, nisl turpis finibus quam, eu iaculis magna lectus et purus. Suspendisse potenti. Aliquam mollis, ex nec sagittis tincidunt, ligula nulla blandit augue, ut mollis est augue et justo. Mauris diam lorem, tempus in tincidunt non, dictum non nulla. Morbi interdum blandit mollis. Integer id sodales neque. Vivamus luctus urna ut eros sodales, dignissim molestie dolor ornare. Sed nec consectetur diam.

    div(id="mainpage-help-container" class="help")
      p(class="help-text").
        Help here!

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

        Fusce id semper massa, vel pulvinar nibh. Aliquam tristique eleifend ante hendrerit interdum. Donec auctor luctus pretium. Morbi velit arcu, mollis at dui vel, tincidunt elementum elit. Nunc malesuada gravida vulputate. Aliquam erat volutpat. Vivamus in pellentesque mauris. Sed rhoncus arcu sit amet posuere facilisis. Sed sit amet odio sed arcu semper porttitor nec at leo. Suspendisse risus tortor, convallis maximus justo sit amet, elementum bibendum urna. Praesent non placerat eros. Etiam eleifend est nec lorem blandit vehicula. Nunc porttitor suscipit accumsan. Fusce consequat tellus vel quam vehicula varius. Fusce blandit est a erat aliquam, id mollis nunc pulvinar. Nullam at quam tortor.

        Quisque lectus turpis, mollis et diam sit amet, commodo porttitor elit. Integer lacinia nunc a sem tincidunt, a consectetur ex lobortis. Nulla eget turpis sed urna posuere rutrum vitae vitae est. In mollis odio vitae sapien consequat, in tristique tortor pharetra. Proin volutpat sapien at molestie laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent eleifend diam quis velit tincidunt pretium. Donec interdum lectus felis, at volutpat massa condimentum sit amet. Suspendisse fermentum sapien et felis blandit, vel aliquet risus faucibus.

        Mauris et sem commodo, iaculis lacus sed, rutrum lorem. Praesent hendrerit sit amet ligula in bibendum. Cras sed posuere augue. Quisque nec est id tortor fermentum lobortis. Nam euismod tincidunt nibh et viverra. In nec odio sed nunc ornare viverra id ut nulla. Aenean auctor mi a metus lacinia, aliquam dignissim tortor facilisis. Quisque a mollis mi, et ornare libero. Aenean ac nibh leo. Ut tempus odio eget libero sollicitudin semper. Morbi imperdiet ante risus, vitae venenatis sem varius at. Integer tortor nunc, accumsan nec erat ut, ultricies malesuada augue. Sed ut finibus ex.

        Nam pulvinar elit in ligula semper, eget fermentum ligula sodales. Suspendisse ullamcorper, nibh a fermentum ornare, ipsum dolor semper purus, eget interdum tortor nisl vel quam. Mauris quis consequat nunc. Ut vel ornare urna, non varius dolor. Ut molestie laoreet enim malesuada ultrices. Nunc pulvinar pellentesque congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc aliquam, orci sit amet eleifend tristique, nisl turpis finibus quam, eu iaculis magna lectus et purus. Suspendisse potenti. Aliquam mollis, ex nec sagittis tincidunt, ligula nulla blandit augue, ut mollis est augue et justo. Mauris diam lorem, tempus in tincidunt non, dictum non nulla. Morbi interdum blandit mollis. Integer id sodales neque. Vivamus luctus urna ut eros sodales, dignissim molestie dolor ornare. Sed nec consectetur diam.


