doctype html
head
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='/scripts/jquery.1.11.1.min.js')
  script(type='text/javascript', src='/scripts/header.js')
  script(type='text/javascript', src='/scripts/jquery.smint.js')

body
  div(class="wrap")
    div(class="section sTop")
      div(class="inner")
        h1(class="title")
        h2(class="subtitle") Find your psychotherapist
        img(src="/resources/logo_here.png", class="top-logo")

    div(class="subMenu ")
      div(class="inner")
        a(href="#sTop" class="subNavBtn")
          | Home
        a(href="#main" class="subNavBtn")
          | Who
        a(href="#search" class="subNavBtn")
          | Client
        a(href="#doctors" class="subNavBtn")
          | Psychotherapists

    div(id="mainpage-container")
      div(id="mainpage-main-container" class="section main s1")
        p(class="mainpage-text inner").
         PsyLink, a service to find the best possible match between psychotherapists and their clients
        img(src="/resources/discussion.png", class="main-section-image")

      div(id="mainpage-search-container" class="section search s2")
        div(class="search-text")
          p(class="client-description").
            Find a Psychotherapist with the same Chemistry as yours / who connects with you / who is your soul mate

          div(class="try-now-centered", id="try-now-div")
            | Try Now!
          form(action="/search", method="post", id="questions-form")
            div(id="personal-details-label")
              label Basic information
            div(id="personal-details-div")
              input(type="text",placeholder="username")
              input(type="password",placeholder="password")

            div(id="preferences-label")
              label Preferences
            div(id="preferences-div", class="preferences")
              div
                | Sex
              select
                option Male
                option Female
              div
                | Field of psychotherapy
              select
                option Cognitive
                option Psychodynamic
                option Behavioral
                option Interpersonal
                option Gestalt
              div
                | Background
              select
                option Psychiatrist (medical doctor)
                option Psychologist

            div(id="personality-label")
              label Personality
            div(id="personality-div", class="personality")
              h3
                | Would you describe yourself as
              label Reserved
              input(type="range", max="5", min="0")
              label Outgoing
              br
              label Considered
              input(type="range", max="5", min="0")
              label Impulsive

              br
              div(class="client-question-personality-container")
                h3
                  | In a group of people...
                div(class="client-question-personality-left")
                  h3
                    | ... that you know
                  div(class="client-question-personality-title")
                    | You feel as an outsider
                  label Agree
                  input(type="range", max="5", min="0")
                  label Disagree
                  br
                  div(class="client-question-personality-title")
                    | You appoint your self as a director
                  label Agree
                  input(type="range", max="5", min="0")
                  label Disagree
                  br
                  div(class="client-question-personality-title")
                    | You thrive on discussion
                  label Agree
                  input(type="range", max="5", min="0")
                  label Disagree

                div(class="client-question-personality-right")
                  h3
                    | ... that are new to you
                  label Agree
                  input(type="range", max="5", min="0")
                  label Disagree
                  div
                  label Agree
                  input(type="range", max="5", min="0")
                  label Disagree
                  div
                  label Agree
                  input(type="range", max="5", min="0")
                  label Disagree


            div(class="clear")

            div(id="values-label")
              label Values
            div(id="values-div", class="values")
              div(class="client-question-personality-left")
                div(class="client-question-personality-title")
                  | Family comes first
                label Agree
                input(type="range", max="5", min="0")
                label Disagree
                br
                div(class="client-question-personality-title")
                  | You should do (as a job) what you love the most
                label Agree
                input(type="range", max="5", min="0")
                label Disagree
                br
                div(class="client-question-personality-title")
                  | Success is achieved, not given
                label Agree
                input(type="range", max="5", min="0")
                label Disagree


            div(class="clear")


            div(id="expectations-label")
              label Expectations
            div(id="expectations-div", class="expectations")
              div
                | What do you wish for as the outcome of your therapy?
              select
                option Health
                option Restored work ability
                option Better relationships
                option Resources to tackle the challenges in life

            div(class="try-now-centered", id="search-now-div")
              | Search

          div(class="search-results-container" id="search-results-div")
            div(class="search-results-container-recommend") According to your information, we recommend you to contact
            div(id="searchresults-main-container" class="main")
              h2 Matti Meikäläinen

              p(class="doctor-text")
                img(src="/resources/profile.jpg")
                br
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

            div(class="try-now-centered", id="search-again-div")
              | Search Again


      div(id="mainpage-doctor-container" class="section doctors s3")
        //h2 Psychotherapists
        p(class="doctor-text inner").
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

        img(src="/resources/crowd.png", class="doctors-section-image")

