doctype html
body
    h1= 'Welcome to PsyLink'
    p
      | Get better! Be yourself again!
    div
      input(type="text", placeholder="find a psychotherapist")
      div
        p
          | asds
        p
          | here is question 1
        select
          option 1
          option 2
        br
        select
          option 1
          option 2