doctype html
head
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript', src='/scripts/jquery.1.11.1.min.js')
  script(type='text/javascript', src='/scripts/header.js')
  script(type='text/javascript', src='/scripts/jquery.smint.js')



body
  header
    div(id="header-container")

      div(class="header-links")
        a(class="main-link go-back")
          | < Back to start
        div(class="header-title")
          | Search Results

  div(id="mainpage-container")
    div(id="searchresults-main-container" class="main")
      h2 Matti Meikäläinen

      p(class="doctor-text")
        img(src="/resources/profile.jpg")
        br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

    div(id="searchresults-main-container" class="main")
      h2 Matti Meikäläinen
      p(class="doctor-text")
        img(src="/resources/profile.jpg")
        br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

    div(id="searchresults-main-container" class="main")
      h2 Matti Meikäläinen
      p(class="doctor-text")
        img(src="/resources/profile.jpg")
        br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.

    div(id="searchresults-main-container" class="main")
      h2 Matti Meikäläinen
      p(class="doctor-text")
        img(src="/resources/profile.jpg")
        br
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit elit non est dictum scelerisque. Sed rhoncus posuere condimentum. Aliquam at ligula tellus. Donec accumsan at felis at pellentesque. Phasellus vehicula nunc odio, ac hendrerit quam lacinia at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nisl nisi, porta non orci at, rutrum aliquet tellus. In interdum mi quis iaculis lobortis.






