#header-container{
   position: fixed;
   top: 0;
   width: 100%;
   margin: 0;
   background-color: #A9BCF5;
   height:140px;
   left: 0px;
   margin-left: 0;
   z-index:2000;
   text-align: center;
}

#mainpage-container{
   position: absolute;
   top: 140px;
   margin-top: 140px;
   width: 100%;
   margin: 0;
   background-color: #FAFAFA;
   height:80%;
   left: 0px;
   margin-left: 0;
}

.mainpage-text {
  padding: 10px 50px;
  white-space:pre-line;
}

.doctor-text {
  padding: 10px 50px;
  white-space:pre-line;
}

.help-text {
  padding: 10px 50px;
  white-space:pre-line;
}

a {
  width: 40px;
  margin: 10px;
}

#header-links {

}

#main-link, #doctor-link, #help-link {
  display: inline;
  margin: 10px;
  font-family: cursive;
  font-size: 22px;
  cursor: pointer;
}
