/*#header-container{
   position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   background-color: #A9BCF5;
   height:140px;
   left: 0px;
   margin-left: 0;
   z-index:2000;
   text-align: center;
}*/

body {
  background-image: url('/resources/heureka.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainpage-container{
   position: absolute;
   top: 50px;
   margin-top: 50px;
   width: 100%;
   margin: 0;
   /*background-color: #FAFAFA;*/
   height: 100%;
   display: block;
   left: 0px;
   margin-left: 0;
}

.mainpage-text, .doctor-text, .help-text {
  padding: 10px 50px;
  white-space:pre-line;
  background-color: #D8D8D8;
  opacity: 0.8;
}


a {
  width: 40px;
  margin: 10px;
  text-decoration: none;
}

.header-links {
   position: fixed;
   top: 0px;
   width: 100%;
   background-color: #A9BCF5;
   /*height: 50px;*/
   left: 0px;
   margin-left: 0;
   z-index:2000;
   text-align: center;
   opacity: 0.9;
}

.main-link, .doctor-link, .help-link {
  display: inline;
  margin: 10px;
  font-family: cursive;
  font-size: 22px;
  cursor: pointer;
}

.active {
 background-color: #CED8F6;
}

#mainpage-main-container, #mainpage-doctor-container, #mainpage-help-container {
  padding: 10px 10px;
}
